<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Test</title>
  </head>
  <body>
    <app-navbar />

    <!--cont-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Sistema de monitorización de gondolas</h1>
          <h3 class="text-center">Reporte Detalle Producto</h3>
          <br />
          <p class="d-inline-flex gap-1">
            <button
              type="button"
              class="btn btn-primary"
              (click)="getReporteApi()"
            >
              Visualizar Reporte Detalle Producto
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="descargarPDF()"
            >
              Descargar Reporte
            </button>
          </p>
          <br />
          <div id="htmlData">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Fecha Reporte</th>
                  <th scope="col">Nombre Producto</th>
                  <th scope="col">Grupo Producto</th>
                  <th scope="col">Cantidad Total Vendida</th>
                  <th scope="col">Total Recaudado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reporte of paginatedReporte">
                  <th scope="row">{{ reporte.fecha_reporte }}</th>
                  <td>{{ reporte.nombre_producto }}</td>
                  <td>{{ reporte.grupo_producto }}</td>
                  <td>{{ reporte.cantidad_total_vendida }}</td>
                  <td>${{ reporte.total_recaudado_prod }}</td>
                </tr>
              </tbody>
            </table>

            <!-- Paginación -->
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a
                  class="page-link"
                  (click)="currentPage = currentPage - 1"
                  href="#"
                  >Anterior</a
                >
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === totalPages"
              >
                <a
                  class="page-link"
                  (click)="currentPage = currentPage + 1"
                  href="#"
                  >Siguiente</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
