<app-navbar />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Sucursal</h1>
            <br>
            <p class="d-flex gap-1 justify-content-center">
                <button type="button" class="btn btn-primary" (click)="getSucursal()">Ver Sucursal</button>
                <button type="button" class="btn btn-primary">Eliminar Sucursal</button>    
            </p>
            <br>
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Ubicacion</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let sucursal of Sucursal">
                        <th scope="row">{{sucursal.id}}</th>
                        <td>{{sucursal.nombre}}</td>
                        <td>{{sucursal.ubicacion}}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>