<app-navbar />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Sucursal</h1>
            <br>
            <p class="d-flex gap-1 justify-content-center">
                <button class="btn btn-primary" (click)="submit()">Agregar Sucursal</button> 
                <button type="button" class="btn btn-primary" (click)="getSucursal()">Ver Sucursal</button>
            </p>
            <br>
            <div class="container w-25">
                <form [formGroup]="form">
                    <input 
                    type="text"
                    class="form-control"
                    placeholder="Nombre Sucursal"
                    formControlName="nombre"
                    />
                    <br>
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Ubicacion"
                    formControlName="ubicacion"
                    />
                </form>        
            </div>
            <br><br><br>
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Ubicacion</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let sucursal of Sucursal">
                        <th scope="row">{{sucursal.id}}</th>
                        <td>{{sucursal.nombre}}</td>
                        <td>{{sucursal.ubicacion}}</td>
                        <td class="col"><a class="btn btn-primary shadow" (click)="updateSucursal(sucursal.id)" role="button">Editar</a>
                        <td class="col"><a class="btn btn-danger shadow" (click)="deleteSucursal(sucursal.id)" role="button">Eliminar</a>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>