<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Test</title>
  </head>
  <body>
    <!--navbar-->
    <app-navbar />

    <!--cont-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Sistema de monitorización de gondolas</h1>
          <h3 class="text-center">Reporte Venta</h3>
          <br />
          <p class="d-inline-flex gap-1">
            <button
              type="button"
              class="btn btn-primary"
              (click)="getReporteApi()"
            >
              Visualizar Reporte Venta
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="descargarPDF()"
            >
              Descargar Reporte
            </button>
          </p>
          <br />
          <div id="htmlData" *ngFor="let reporte of paginatedReporte">
            <div
              class="col-12 text-bg-info p-2 mb-2 rounded d-flex justify-content-around"
            >
              <h5>Fecha del reporte {{ reporte.fecha_reporte }}</h5>
              <h5>Total de compras ${{ reporte.total_compra }}</h5>
            </div>

            <div class="d-flex flex-row gap-1 mb-2">
              <div class="card text-bg-primary" style="width: 18rem">
                <div class="card-header h5">Productos de grupo A</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Productos vendidos: {{ reporte.cantidad_prod_grupo_a }}
                  </li>
                  <li class="list-group-item">
                    Total recaudado: ${{ reporte.total_compra_grupo_a }}
                  </li>
                </ul>
              </div>

              <div class="card text-bg-secondary" style="width: 18rem">
                <div class="card-header h5">Productos de grupo B</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Productos vendidos: {{ reporte.cantidad_prod_grupo_b }}
                  </li>
                  <li class="list-group-item">
                    Total recaudado: ${{ reporte.total_compra_grupo_b }}
                  </li>
                </ul>
              </div>

              <div class="card text-bg-success" style="width: 18rem">
                <div class="card-header h5">Productos de grupo C</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Productos vendidos: {{ reporte.cantidad_prod_grupo_c }}
                  </li>
                  <li class="list-group-item">
                    Total recaudado: ${{ reporte.total_compra_grupo_c }}
                  </li>
                </ul>
              </div>

              <div class="card text-bg-danger" style="width: 18rem">
                <div class="card-header h5">Productos de grupo D</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Productos vendidos: {{ reporte.cantidad_prod_grupo_d }}
                  </li>
                  <li class="list-group-item">
                    Total recaudado: ${{ reporte.total_compra_grupo_d }}
                  </li>
                </ul>
              </div>

              <div class="card text-bg-warning" style="width: 18rem">
                <div class="card-header h5">Productos sin grupo</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Productos vendidos: {{ reporte.cantidad_prod_sin_grupo }}
                  </li>
                  <li class="list-group-item">
                    Total recaudado: ${{ reporte.total_compra_sin_grupo }}
                  </li>
                </ul>
              </div>
            </div>

            <!-- Paginación -->
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a
                  class="page-link"
                  (click)="currentPage = currentPage - 1"
                  href="#"
                  >Anterior</a
                >
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === totalPages"
              >
                <a
                  class="page-link"
                  (click)="currentPage = currentPage + 1"
                  href="#"
                  >Siguiente</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
