<app-navbar />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Compras</h1>
            <br>
            <p class="d-flex gap-1 justify-content-center">
                <!-- <button type="button" class="btn btn-primary" (click)="postCompra()">Agregar Compra</button>  -->
                <button type="button" class="btn btn-primary" (click)="traerCompras()">Ver Compras</button> 
            </p>
            <!-- <div class="container w-25">
                <form [formGroup]="form">
                    <input 
                    type="datetime-local"
                    class="form-control"
                    placeholder="Fecha Compra Ej. Año-Mes-Dia hora:min:seg"
                    formControlName="fechaCompra"
                    /> 
                    <br>
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Producto"
                    formControlName="producto"
                    />
                    <br>
                    <input 
                    type="text"
                    class="form-control"
                    placeholder="Precio"
                    formControlName="precio"
                    />
                    <br>
                    <input 
                    type="text"
                    class="form-control"
                    placeholder="Grupo Producto"
                    formControlName="grupoProducto"
                    />
                    <br>
                    <input 
                    type="text"
                    class="form-control"
                    placeholder="Cantidad Comprada"
                    formControlName="cantidadComprada"
                    />
                    <br>
                    <input 
                    type="text"
                    class="form-control"
                    placeholder="Numero Sucursal"
                    formControlName="sucursal"
                    />
                    <br>
                </form>        
            </div>  -->
            <br><br><br>
            <br>
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha Hora Compra</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Grupo Producto</th>
                            <th scope="col">Cantidad Comprada</th>
                            <th scope="col">Sucursal</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let compra of compras">
                        <th scope="row">{{compra.id}}</th>
                        <td>{{compra.fecha_hora_compra}}</td>
                        <td>{{compra.producto}}</td>
                        <td>{{compra.precio}}</td>
                        <td>{{compra.grupo_producto}}</td>
                        <td>{{compra.cantidad_comprada}}</td>
                        <td>{{compra.sucursal}}</td>
                        <!-- <td class="col"><a class="btn btn-primary shadow" (click)="updateCompra(compra.id)" role="button">Editar Compra</a></td> -->
                        <td class="col"><a class="btn btn-danger shadow" (click)="eliminarCompra(compra.id)" role="button">Eliminar Compra</a></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>